.contact-header{
	height: 400px;
	background-image: url(../img/buzz-words.png);
	background-repeat:no-repeat;
	background-size: cover;
}

form{
    margin-top: 25px;
    p{
		font-size: 1.2em;
	}
	input{
		text-align: center;
		font-size: .85em;
	}
	label{
		font-size: 1em;
	}
	span p{
		display: inline-block;
	}
}


fieldset{
	padding: 10px 0 30px 30px;

	div:last-child{
		display: block;
	}

	div:last-child p{
		display: block;
		text-align: center;
		margin: 0;
		padding: 0;
	}
}

#name{
	width: 310px;
	margin-right: 12px;
	margin-left: 10px;
}

#selection{
	margin-left: 12px;
	width: 210px;
	height: 24px;
	background-color: #fff;
	-webkit-appearance: none;
	border-radius: 0;
	border-color: $border;
}

#email{
	margin-left: 12px;
	width: 300px;
}

.more{
	float: left;
	margin-top: 40px;
	width: 50%;

	p{
		margin: 0 0 5px 0;
		padding: 0;
		font-size: 1.1em;

		input{
			width: 340px;
		}

		&:first-child{
			font-size: 1.2em;
			margin-bottom: 5px;
		}
	}
}


#address{
	margin-left: 10px;
}

#city{
	margin-left: 44px;
}

#state{
	margin-left: 33px; 
	-webkit-appearance: none;
	background-color: #fff;
	height: 24px;
	width: 346px;
	border-radius: 0;
	border-color: $border;
}

#zip{
	margin-left: 50px;
}

#phone{
	margin-left: 23px;
}

#comments{
	margin-top: 66px;
	margin-left: 35px;
	text-align: center;
} 

.submit-button{
	-webkit-appearance: none;
	background-color: #fff;
	border: solid 1px $border;
	padding: 5px 7px;
	color: $grey;
	font-size: .7em;
	margin-left: 330px;
}

/*** Popover ***/

#popover{
	display: none;
	position: absolute; 
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	background-color: rgba( 0,0,0, 0.6 );

	div{
		width: 80%;
		padding: 5%;
		margin: 15px auto;
		background: white;
		border: solid 1px $border;
	}
}

#comments {
    margin-top: 0;
    margin-left: 0;
    text-align: center;
}

