/*newsroom.html*/


.newsroom-header{
	height: 400px;
  	background-image: url(../img/newsroom-header2.png);
 	background-repeat:no-repeat;
 	background-size: cover;
 }

.headline-title h1{
	font-size: 1.6em;
	margin-bottom: 15px;
}

.headline-title h2{
	font-size: .9em;
	margin: 3px 0 30px 0;
	padding-bottom: 15px;
	border-bottom: solid 1px #494949; 
}

.headline-aside img{
	width: 210px;
	float: left;
	margin-bottom: 20px;
}

.headline-aside{
	float: left;
	width: 23%;
	margin-right: 3%;
}

.headline-aside div:last-child{
	float: left;
}

.headline-aside ul{
	padding-left: 0;
}

.headline-aside li{
	list-style: none;
	text-decoration: underline;
	font-size: .75em;
	line-height: 2;
}

.headline-body{
	float: right;
	width: 74%;
}

.headline-body p{
	font-size: .9em;
	line-height: 1.5
}

.headline-body p:first-child{
	margin-top: 0;
	padding-top: 0; 
}

#quote{
	font-size: 1.1em;
	font-weight: 600;
	font-style: italic;
}
